* {
    margin: 0;
    padding: 0;
}
body{
    -webkit-text-size-adjust:none !important;
    -webkit-overflow-scrolling: touch;
}
.pokemon-all{
    width: 100%;
    height: 100%;
    position: relative;
    background: #333333;
}
.pokemonbox {
    position: fixed;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 70px;
    right: 5%;
    z-index: 20;
    bottom: 60px;
    animation: all ease 2s;
    -webkit-animation: all ease 2s;
    -moz-animation: all ease 2s;
    -o-animation: all ease 2s;
    overflow: visible;
    /*box-shadow: 0 0 8px #a8a8a8;*/
}
.pokemon-head-iframe{
    display: none;
    position: relative;
    width: 290px;
    z-index: 10;
    height: auto;
}
.input-position-pokemonbox{
    top: 285px !important;
}
.pokemon-head-iframe .pokemon-iframe{
    width: 290px;
    padding-bottom: 30px;
    background: #fbfbfb;
    height: 270px;
    z-index: -1000;
    position: absolute;
    left: 0;
    top: -290px;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    box-shadow: 0 0 8px #a8a8a8;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
    opacity: 1;
    -moz-opacity: 1;
    animation: piframem ease 0.3s;
    -webkit-animation: piframem ease 0.3s;
    -o-animation: piframem ease 0.3s;
    -moz-animation: piframem ease 0.3s;
    /*animation-delay:0.3s;*/
    /*-webkit-animation-delay:0.3s; !* Safari 和 Chrome *!*/
    /*-moz-animation-delay:0.3s; !* Safari 和 Chrome *!*/
    /*-o-animation-delay:0.3s; !* Safari 和 Chrome *!*/
}
@keyframes piframem {
    0%{
        left: 0;
        top: -260px;
        opacity: 0;
        -moz-opacity: 0;
    }
    100%{
        left: 0;
        top: -290px;
        opacity: 1;
        -moz-opacity: 1;
    }
}
@-webkit-keyframes piframem {
    0%{
        left: 0;
        top: -260px;
        opacity: 0;
        -moz-opacity: 0;
    }
    100%{
        left: 0;
        top: -290px;
        opacity: 1;
        -moz-opacity: 1;
    }
}
@-moz-keyframes piframem {
    0%{
        left: 0;
        top: -260px;
        opacity: 0;
        -moz-opacity: 0;
    }
    100%{
        left: 0;
        top: -290px;
        opacity: 1;
        -moz-opacity: 1;
    }
}
@-o-keyframes piframem {
    0%{
        left: 0;
        top: -260px;
        opacity: 0;
        -moz-opacity: 0;
    }
    100%{
        left: 0;
        top: -290px;
        opacity: 1;
        -moz-opacity: 1;
    }
}
.input-position-pokemon-iframe{
    top: 20px !important;
}
.pokemon-iframe iframe{
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    -webkit-overflow-scrolling: touch;
}

.pokemon-page-head{
    width: 290px;
    position: absolute;
    top: 0;
    z-index: 600;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
    background: #5ac2e5;
    opacity: 1;
    -moz-opacity: 1;
}
.pokemon-page-head span{
    margin-left: 12px;
}
.pokemon-close{
    float: right;
    background: url("../img/close.png") no-repeat center;
    background-size: 100%;
    width: 16px;
    margin-top: 7px;
    border-radius: 50% !important;
    height: 16px;
    margin-right: 8px;
}
.pokemonbox-big{
    width: 316px;
    height: 70px;
    position: relative !important;
    animation: circlepokemon ease 0.3s;
    -moz-animation: circlepokemon ease 0.3s;
    -webkit-animation: circlepokemon ease 0.3s;
    -o-animation: circlepokemon ease 0.3s;
}
@keyframes circlepokemon {
    0% {
        width: 70px;
    }
    100% {
        width: 316px;
    }
}
@-webkit-keyframes circlepokemon {
    0% {
        width: 70px;
    }
    100% {
        width: 316px;
    }
}
@-moz-keyframes circlepokemon {
    0% {
        width: 70px;
    }
    100% {
        width: 316px;
    }
}
@-o-keyframes circlepokemon {
    0% {
        width: 70px;
    }
    100% {
        width: 316px;
    }
}
.pokemonbox-inside-right{
    width: 54px;
    height: 54px;
    line-height: 54px;
    position: absolute;
    border-radius: 54px;
    overflow: hidden;
    top: 8px;
    right: 8px;
    text-align: center;
    z-index: -200;
}
/* xuanfu */
.out{
    width:53px;
    height:53px;
    border-radius:53px;
    -webkit-border-radius: 53px;
    position: relative;
    margin-top: -55px;
    background: #ffffff;
    z-index: -100;
    overflow: hidden;
    transform-style:preserve-3d;
    -webkit-transform-style: preserve-3d;
    border: 1px solid #ffffff;
}
.out-over{
    position: absolute;
    width:52px;
    height:52px;
    z-index: 100;
    border-left: 5px solid #ffffff;
}
.out p{
    z-index: 20;
}
.out-border-circle{
    width: 50px;
    height: 50px;
    background: #333333;
    border-radius: 50%;
    margin-top: 1px;
    display: none;
    z-index: 100;
    margin-right: 1px;
    position: absolute;
    right: 0;
    border-left: 1px solid #dfdfdf;
}
.in{
    width:108px;
    height:108px;
    border-radius:38%;
    position: absolute;
    top:40%;
    left: -50%;
    -moz-animation: wave 5s linear infinite;
    -o-animation: wave 5s linear infinite;
    -webkit-animation:wave 5s linear infinite;
    animation:wave 5s linear infinite;
    z-index: -66;
    background: #12b7f5;
}
.in-over{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 2px;
    left: -1px;
    top: 0px;
    background: url("../img/fangyuan.png") no-repeat center;
    background-size: 100% 100%;
    border: 1px solid #ffffff;
}


@-webkit-keyframes wave {
    from {
        -webkit-transform: rotateZ(0deg) ;
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@-moz-keyframes wave {
    from {
        -webkit-transform: rotateZ(0deg) ;
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-o-keyframes wave {
    from {
        -webkit-transform: rotateZ(0deg) ;
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes wave {
    from {
        -webkit-transform: rotateZ(0deg) ;
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
.border-radius-wu{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.pokemonbox-inside-right-bk{
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    overflow: hidden;
    text-align: center;
    line-height: 54px;
    background: url("../img/mohubk.png") no-repeat center;
    background-size: 100% 100%;
}
.top-hidden{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}
.top-hidden-sun{
    width: 54px;
    height: 54px;
    background-color: #cde;
}
.pokemonbox-inside-right-bkyellow{
    width: 54px;
    height: 33px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.pokemonbox-inside-right-bkblue{
    width: 54px;
    height: 33px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -200;
}
.pokemonbox-inside-right-bkred{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
}
.pokemonboxim {
    position: fixed !important;
    right: 20px !important;
    bottom: 20px !important;
}

/* pokemonbox-bright*/
.pokemonbox-bright-blue .bk{
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: url("../img/br.png") no-repeat center !important;
    background-size: 100% 100% !important;
    opacity: 0.4;
    -moz-opacity: 0.4;
    z-index: 300;
    text-align: center;
}
.pokemon-small-color-blue .in{
    background-color:rgba(94, 194, 227,0.6) !important;
}
.pokemon-small-color-blue .out{
    margin-left: 4px !important;
    margin-top: -54px !important;
}
.pokemonbox-bright-blue .out{
    background: url("../img/blogo.png") #ffffff no-repeat center;
    background-size: 90% 90%;
}
.pokemonbox-bright-blue .in{
    background-color:rgba(94, 194, 227,0.6) !important;
}
.pokemonbox-bright-blue p{
    font-size: 14px;
    color: #009ed5;
    letter-spacing: 1px;
    opacity: 0.7 !important;
}
.pokemon-small-color-blue .bk p{
    font-size: 12px;
    color: #009ed5;
    opacity: 0.4;
    -moz-opacity: 0.4;
}
.pokemonbox-bright-blue span{
    font-size: 16px;
}
.pokemonbox-bright-blue .bk{
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: url("../img/bb.png") no-repeat center !important;
    background-size: 100% 100% !important;
    opacity: 0.4;
    -moz-opacity: 0.4;
    z-index: 300;
    text-align: center;
}
.pokemon-small-color-red .in{
    background-color:rgba(255, 141, 141,0.6) !important;
}
.pokemon-small-color-red .out{
    margin-left: 4px !important;
    margin-top: -54px !important;
}
.pokemonbox-bright-red .out{
    background: url("../img/rlogo.png") #ffffff no-repeat center;
    background-size: 90% 90%;
}
.pokemonbox-bright-red .in{
    background-color:rgba(255, 141, 141,0.6) !important;
}
.pokemonbox-bright-red p{
    font-size: 14px;
    color: #da0000;
    letter-spacing: 1px;
    opacity: 0.7 !important;
}
.pokemon-small-color-red .bk p{
    font-size: 12px;
    color: #da0000;
    opacity: 0.4;
    -moz-opacity: 0.4;
}
.pokemonbox-bright-red span{
    font-size: 16px;
}
.pokemonbox-bright-yellow .bk{
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: url("../img/by.png") no-repeat center !important;
    background-size: 100% 100% !important;
    opacity: 0.4;
    -moz-opacity: 0.4;
    z-index: 300;
    text-align: center;
}
.pokemonbox-bright-yellow .out{
    background: url("../img/ylogo.png") #ffffff no-repeat center;
    background-size: 90% 90%;
}
.pokemonbox-bright-yellow .in{
    background-color:rgba(255,231,26,0.8) !important;
}
.pokemon-small-color-yellow .in{
    background-color:rgba(255,231,26,0.8) !important;
}

.pokemon-small-color-yellow .out{
    margin-left: 4px !important;
    margin-top: -54px !important;
}
.pokemonbox-bright-yellow p{
    font-size: 12px;
    color: #797d00;
}
.pokemon-small-color-yellow p{
    opacity: 0.4;
    -moz-opacity: 0.4;
    font-size: 12px;
    color: #797d00;
}
.pokemonbox-bright-yellow span{
    font-size: 14px;
}



.pokemon-small-color-red .pokemonbox-inside{
    width: 284px;
    height: 54px;
    border-radius: 54px;
    margin: 8px auto 0 auto;
}
.pokemon-small-color-red .pokemonbox-inside-right{
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #a8a8a8;

    background-size: 83% 83%;
}
.pokemon-small-color-red .pokemonbox-inside-right p{
    font-size: 14px;
    color: #da0000;
    letter-spacing: 1px;
}
.pokemon-small-color-red .pokemonbox-inside-right span{
    font-size: 16px;
}

.pokemon-small-color-yellow .pokemonbox-inside{
    width: 284px;
    height: 54px;
    border-radius: 54px;
    margin: 8px auto 0 auto;
}
.pokemon-small-color-yellow .pokemonbox-inside-right{
    box-shadow: 1px 1px 1px #a8a8a8;
    border: solid 1px #dfdfdf;
    background: url("../img/logoy.png") #ffffff no-repeat center;
    background-size: 83% 83%;
    font-size: 12px;
    color: #797d00;
}
.pokemon-small-color-yellow .pokemonbox-inside-right p{
    font-size: 12px;
    color: #797d00 !important;
    letter-spacing: 1px;
}
.pokemon-small-color-yellow .pokemonbox-inside-right span{
    font-size: 16px;
}


.pokemon-small-color-blue .pokemonbox-inside{
    width: 284px;
    height: 54px;
    border-radius: 54px;
    margin: 8px auto 0 auto;
}
.pokemon-small-color-blue .pokemonbox-inside-right{
    border: solid 1px #dfdfdf;
    background: url("../img/logob.png") #ffffff no-repeat center;
    background-size: 83% 83%;
}
.pokemon-small-color-blue .pokemonbox-inside-right p{
    font-size: 14px;
    color: #008bbc;
    letter-spacing: 1px;
}
.pokemon-small-color-blue .pokemonbox-inside-right span{
    font-size: 16px;
}
/* pokemonbox-bright end*/




/* pokemonbox-inside-left*/
.pokemonbox-inside-left{
    width: 284px;
    border-radius: 54px;
    padding-left: 10px;
    border:1px solid #dfdfdf;
    height: 52px;
    position: absolute;
    left: 10px;
    opacity:0;
    top:8px;
    -moz-opacity: 0;
    overflow: hidden;
    box-shadow:0 0 6px #dfdfdf inset;
}
.pokemonbox-inside-left-movie{

    opacity:1;
    -moz-animation: boxv ease 0.5s;
    -o-animation: boxv ease 0.5s;
    -webkit-animation:boxv ease 0.5s;
    animation:boxv ease 0.5s;
}
@keyframes boxv {
    0% {
        top: -10px;
        opacity: 0;
    }
    100% {
        opacity:1;
        top:8px;
    }
}
@-webkit-keyframes boxv {
    0% {
        top: -10px;
        opacity: 0;
    }
    100% {
        opacity:1;
        top:8px;
    }
}

@-moz-keyframes boxv {
    0% {
        top: -10px;
        opacity: 0;
    }
    100% {
        opacity:1;
        top:8px;
    }
}

@-o-keyframes boxv {
    0% {
        top: -10px;
        opacity: 0;
    }
    100% {
        opacity:1;
        top:8px;
    }
}

.pokemonbox-inside-left .inside-left-serve{
    width: 250px;
    height: 54px;
    display: block;
}
.inside-left-serve .serve-box{
    width: 48px;
    height: 54px;
    margin-left: -2px;
    text-align: center;
    float: left;
    line-height: 20px !important;
    color: #c6c6c6;
}
.inside-left-serve .serve-box span{

    font-size : 12px;
    transform : scale(0.84,0.84) ;
    -webkit-transform : scale(0.84,0.84) ;
    -o-transform : scale(0.84,0.84) ;
    -ms-transform : scale(0.84,0.84) ;
    -moz-transform : scale(0.84,0.84) ;
    display: inline-block;
}
.inside-left-serve .active{
    color: #5ac2e5 !important;
}
.serve-box .serve-box-img{
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 9px;
    margin-left: 15px;
}
.red-point-tishi .serve-box-img:after{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -8px;
    background: #ff693e;
}
.roadbank{
    background: url("../img/road.png") no-repeat center;
    background-size: 100%;
}
.active .roadbank{
    background: url("../img/roadblue.png") no-repeat center;
    background-size: 100%;
}
.newactive{
    background: url("../img/active.png") no-repeat center;
    background-size: 100%;
}
.active .newactive{
    background: url("../img/activeblue.png") no-repeat center;
    background-size: 100%;
}
.vip{
    background: url("../img/vip.png") no-repeat center;
    background-size: 100%;
}
.active .vip{
    background: url("../img/vipblue.png") no-repeat center;
    background-size: 100%;
}
.collect{
    background: url("../img/collection.png") no-repeat center;
    background-size: 100%;
}
.active .collect{
    background: url("../img/collection.png") no-repeat center;
    background-size: 100%;
}
.more{
    background: url("../img/more.png") no-repeat center;
    background-size: 100%;
}
.active .more{
    background: url("../img/moreblue.png") no-repeat center;
    background-size: 100%;
}



/* pokemonbox-inside-left end*/
